.project-container {
    width: calc(100% - 60px);
    height: 200px;
    border: 1px solid black;
    background-color: black;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
}

.project-info {
    width: 300px;
    height: 125px;
    margin: 0;
    /* padding: 0 25px; */
}

.project-text-title {
    font-weight: 400;
    padding: 0 25px;
}

.project-text {
    padding: 0 25px;
}

.project-links-container {
    display: flex;
    margin: 20px 45px 20px 30px;
    height: 55px;
    width: 220px;
    justify-content: space-between;
}

.project-links-icons {
    width: 40px;
    height: 40px;
    opacity: 1;
    transition-duration: 0.2s;
}

.project-links-icons:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
}

.project-unavailable {
    margin: 0;
    width: 170px;
}

.project-image {
    width: calc(100% - 301px);
    height: 200px;
    margin: 0;
}